body {background-color: #000000;
color: #FFFFFF;
margin: 100px;
background-image: url("smashasllcomputers.png") ;
border-style: 1px solid ;}
p { text-align: center ;}
a { color: #FFFFFF ;
	text-decoration: none;}