head {background-color: #FFFFFF;}
    
body {background-color: #000000;
color: #FFFFFF;
margin: 100px;
background-image: url("208.109.246.181/opendir/bg.gif") ;
border-style: 1px solid ;}
    
p { text-align: center ;}
footer { text-align: center ;
          font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
  font-variation-settings:
    "wdth" 107.9;
	text-decoration: none;
    }
a { color: #FFFFFF ;
      font-family: "Mona Sans", serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-variation-settings:
    "wdth" 107.9;
	text-decoration: none;
    margin-left: 250px;
}
